@media (max-width: 1020px) {
    .logo{
     display: none;
   }

   .header-container{
    background-color: transparent;
   }

   
   .hamburger {
    display: flex;
    position: fixed;
    top: 30px;
    right: 30px;
  }
     
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px; 
    height: 100vh;
    width: 250px;
    background: #071120;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    gap: 30px;
    transition: right 0.3s ease-in-out;
    padding-top: 90px;
  }

  .nav-links.open {
    right: 0; 
  }

  .nav-icons{
    display: block;
    display: flex;
    flex-direction: column;
   position: absolute;
    bottom: 30px; 
    left: 20px;
    font-size: 1rem;
  }

  .nav-icons span{
    height: 200px;
    width: 1px;
    background-color:#6c7183;
    margin-left: 20px;
  }

  .intro-section {
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    height: auto;
  }

   .intro h1{
   font-size: 3rem;
  }

  .hero-section{padding-top: 20px; }

  .hero-section,
  .about-section {
    min-width: unset;
    width: 100%;
     gap: 1.5rem;
  }

   .about-section{
    padding-top: 10px;
   }

   .about-section h3{
    display: block;
    padding: 0px 0px 15px 0px;
    color: #e6f1ff;
}

   .projects-heading h2{ font-size: 1rem;}
 .projects-heading p{  font-size: 1.5rem;
 margin-bottom: 20px;}

  .contact-heading h2{ font-size: 1rem;}
 .contact-heading p{  font-size: 1.5rem;}

  .project img{
    width: 300px;
    height: 200px;
  }

  .project{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .fonts-section{
 margin-left: 0px;
    }

 .form{
   flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    height: auto;
 }

 .msg p{
   font-size: 1rem;
 }

 .msg h2{
  font-size: 1.5rem;
 }

 .address h2, .call h2 , .gmail h2{
  font-size: 1rem;
 }

 .address i, .call i, .gmail i{
  font-size: 1rem;
  height: 3rem;
  width: 3rem;
 }

  .address p, .call p, .gmail p{
  font-size: 1rem;
  }

}

@media (max-width: 600px) {
  .header-container{background-color: transparent;}

  body{
      overflow-x: hidden;
  }

  .hero-section{
    padding-top: 30px;
  }

  .about-section{
    margin-top: 20px;
  }

  .intro-section,
  .project-section {
    padding: 20px 25px;
    margin: 0 auto;
  }

  .project{
     backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.052); 
  }
  
   .projects-heading{
    text-align: center;

   }

  .intro h1{font-size: 2.2rem;}
  .intro h2{
    font-weight: 300;
    font-size: 1.3rem;
  }
  .intro h5{ display: none;}

  .about-section h2, .project h2 {
    font-size: 1rem;
  }

  .icon{padding: 5px;}

  .dwnload, .view{
    height: 40px;
    min-width: 120px;
    font-size: 14px;
  }

  .dwnload{
    margin-top: 20px;
  }
  img {
    height: auto;
  }
   .form{
   flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin: 30px 20px; */
    height: auto;
 }

 #name, #email, #message{
  height: 40%;
  width: 300px;
 }

 #message{height: 100px;}

 .submitBtn{
  width: 100%;
  margin: 0;
 }

 .form-box{
  margin: 0px;
 }
 .contact{
  padding: 40px 20px 10px 20px;
  text-align: center;
 }

 .msg{
  padding: 20px 10px 10px 10px;
 }

 .footer{
  display: none;
  height: auto;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
 }

 .footer h2{
  font-size: 1.2rem;
 }
 .address i, .call i, .gmail i{
  height: 30px;
  width: 30px;
  font-size: 1rem;
 }

 .copy-right{
  padding: 10px;
  font-size: 0.8rem;
 }
.hlo-bx{
  margin: 0px 0px 20px 70px;
  text-align: center;
 }

 .footer2{
  display: flex;
  height: auto;
  gap: 50px;
  justify-content: space-evenly;
  /* align-items: center; */
 }

 .sitemap, .socials{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 1rem;
 }

  .sitemap a, .socials a{
    padding: 5px;
    text-decoration: none;
    color: #6c7183;
  }

   .sitemap h6, .socials h6{
    padding: 10px 5px 10px 5px;
    font-size: 1rem;
   }
}

